<div class="jumbotron" ng-controller="...">
    <h1 ng-bind="app"></h1>

    <input type="text" ng-model="busca" class="form-control" placeholder="Digite um nome para buscar...">

    <table class="table" ng-show="contatos.length > 0">
        <tr>
            <th></th>
            <th>Serial</th>
            <th><a href="" ng-click="ordernarPor('nome')">Nome</a></th>
            <th><a href="" ng-click="ordernarPor('telefone')">Telefone</a></th>
            <th>Data</th>
            <th>Operadora</th>
            <th>Cor</th>
        </tr>
        <!--escrever a classe (te-la previamente no arquivo css) e apos alguma condicao que retorne true ou false para ativar ou desativar essas classes no contexto-->
        <tr ng-class="{'mark_yellow bold': contato.selecionado}" ng-repeat="contato in contatos">
            <!--percorre o objeto contato para facilitar a forma como o valor é solicitado, 
                esta forma é menos verbosa e muito útil caso o objeto tenha muitas propriedades , 
                pois nao precisa invocar contato.propriedade , ele já disponibiliza o valor de 
                todas as propriedades que o objeto tiver, neste caso, nome e telefone-->
            <!--<td ng-repeat="(key, value) in contato">
                {{value}}
            </td>-->
           <td><input type="checkbox" ng-model="contato.selecionado"></td>
           <td ng-bind="contato.serial | uppercase"></td>
            <td ng-bind="contato.nome | uppercase"></td>
            <td ng-bind="contato.telefone"></td>
            <td ng-bind="contato.data | date: 'dd/MM/yyyy'"></td>
            <td ng-bind="contato.operadora.nome | lowercase"></td>
            <td><div class="color" ng-style="{'background-color':contato.cor.nome}"></div></td>
        </tr>
    </table>
    <hr/>